/.vs
/SimpleThreadSafeRandom.Core/obj
/SimpleThreadSafeRandom.Core/bin
/SimpleThreadSafeRandom.Test/obj
/SimpleThreadSafeRandom.Test/bin
/.cr
/SimpleRandomThreadSafe.Test/obj
/SimpleRandomThreadSafe.Test/bin
/SimpleRandomThreadSafe.Core/obj
/SimpleRandomThreadSafe.Core/bin
